@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  margin: 20px;
}

#clock{
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 20px;
  width: fit-content;
  font-weight: 100;
  font-size: 50px; 
  transition: all 0.3s ease-in-out;
}

#clock:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: grey 1px 5px 10px;
}

